---
# tasks file for docker

- name: Install docker
  ansible.builtin.yum:
    name:
      - docker
    state: present

- name: Start Docker service
  ansible.builtin.service:
    name: docker
    state: started
    enabled: yes

- name: Download Docker Compose binary
  ansible.builtin.get_url:
    url: "https://github.com/docker/compose/releases/latest/download/docker-compose-{{ ansible_system }}-{{ ansible_architecture }}"
    dest: /usr/local/bin/docker-compose
    mode: "0755"
    force: yes

- name: Ensure Docker Compose can be run
  ansible.builtin.file:
    path: /usr/local/bin/docker-compose
    mode: "0755"
    state: file
