# Destroy running docker servers
- name: Destroy running docker instances
  amazon.aws.ec2_instance:
    region: eu-west-3
    state: terminated
    instance_ids: "{{ matching_instances }}"
    wait: true
  when: matching_instances | length > 0

# Destroy the security group of the instances
- name: Destroy a Security Group
  amazon.aws.ec2_security_group:
    name: dockerized-app-sg
    region: eu-west-3
    state: absent
